

body{
    background-image: url(../components/images/cat-pattern-blue-paw\ \(2\).jpg);
    background-repeat: repeat;
    background-position: fixed;
    margin: 0px;
    padding: 0px;
}


.conatiner{
    display: flex;
    flex-direction: row;
}
.conatiner content{
    display: flex;
    justify-content: center;
}


.content{
    border: 5px double blue;
    background: none;
    background-color: aliceblue;
    margin: 20px;
}


h3{
    color: aqua;
    font-size: 55px;
    background-color: black;
}
h4{
    color: red;
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h5{
    color: aquamarine;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cadetblue;
}


.img{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    object-fit: cover;
}
