body{
    height: 100%;
}

.headerContact{
    background-color: black;
    padding-left: 20px;
    font-size: 2rem;
    font-weight: 5.5;
    line-height: 1.5;
    color: white;
    text-align: left;
}

.box{
    display: flex;
    justify-content: center;
    align-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    padding-bottom: 270px;
    margin: 4px 0;
    box-sizing: border-box;
    border: none;
    color: white;
    
}

.messageBox{
    margin: 10px;
    padding: 10px;
}

.ContactBtn{
    width: 100%;
    border: 0;
    cursor: pointer;
    color: #ba4f31;
    height: 50px;
    font-size: 25px;
    background-color: #2d353f;
    border-radius: 10px;
}

.ContactBtn:hover{
    color: black;
    background-color: #ba4f31;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #2d353f;
}

input{
    margin: 5px;
    padding: 15px;
}