

.conatiner{
    display: flex;
    flex-direction: row;
}
.conatiner content{
    display: flex;
    justify-content: center;
}


.content{
    border: 7px double #6297c3;
    background: none;
    background-color: aliceblue;
    margin: 20px;
}


h3{
    color: aqua;
    font-size: 55px;
    background-color: black;
}
h4{
    color: red;
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h5{
    color: aquamarine;
    font-size: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: cadetblue;
}


.img{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 350px;
    object-fit: cover;
}